.carousel-indicators {
    justify-content: left;
    top: 75%;


    li {
        width: 8px;
        height: 8px;
        border-radius: 10px;
        border: none;


        &.active {
            background-color: map-get($theme-colors , primary );
        }

    }
}